.profile {
  max-width: 935px;
  margin: 0 auto;
}

.profile .profile_nav {
  width: 500px;
  margin-left: auto !important;
}

.profile .profile_nav a {
  margin-right: 5px;
  margin-left: 5px;
}

.profile_top {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  border-bottom: 1px solid grey;
}

.profile_image {
  margin: -20px 50px 50px 10px;
}

.profile_image img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}

.profile_details {
  margin: 20px 0 0 0;
}

.profile_details_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.studentbooklist .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.studentbooklist table th {
  text-align: center;
  font-size: 16px;
  font: 800;
}

.studentbooklist table td {
  font-size: 14px;
  text-align: center;
}

.studentbooklist table td span {
  text-decoration: line-through;
  text-decoration-style: double;
}

.profile_details_name h4 {
  margin-right: 30px;
}

.profile_details_stats {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.profile_details_stats h4 {
  margin-right: 10px;
}

.business_button,
.follow_button {
  margin-top: 5px;
}

#input[type="file"] {
  display: none;
}

.label {
  width: 100%;
  margin-top: -4.5rem;
  margin-bottom: 5rem;

  display: flex;
  justify-content: center;
}

.image-upload {
  margin: auto;
  margin-right: 0.5rem !important;
  width: 40px;
  height: 40px;
  color: white;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #0a8d48 !important;
  text-align: center;

  display: flex;

  z-index: 1;
}

.addphoto_icon {
  margin: 6px auto;
  font-size: 25px;
}

.upload_result_label .image-upload {
  margin-top: 2.2rem;
  margin-right: 2.8rem !important;
  padding: 0.3rem 0.1rem 1rem 0.6rem;
  width: 120px;
  height: 35px;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.35rem;
  background-color: #0a8d48 !important;
  text-align: center;

  display: flex;

  z-index: 1;
}

.loader {
  margin-top: -8.5rem;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 6.5rem;
}

.classDailyAttendance .form-group,
.staffDailyAttendance .form-group,
.studentList .form-group,
.markattendance .form-group {
  width: 35% !important;
}


.classDailyAttendance_data {
  display: flex;
  align-items: flex-start;
}

.classDailyAttendance_data>table {
  width: 70%;
  margin-right: 20px;
}

.updateBookStatus {
  display: flex;
  align-items: center;
}

.termAttendance {
  display: flex;
  align-items: flex-start;
}

.termAttendance>table {
  width: 70%;
  margin-right: 20px;
}

.termAttendance th,
.termAttendance td {
  font-size: 16px;
}

.markattendance_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.markattendance_button .btn {
  margin-right: 10px;
}

.confirmAttendanceBtn {
  display: flex;
  align-items: center;
}

.confirmAttendanceBtn .btn {
  width: 30% !important;
}

.staffList .table th {
  text-align: center;
  font-size: 16px;
}

.staffList .table td {
  font-size: 16px;
  text-align: center;
}

.displayComment {
  padding: 0 50px 10px 50px !important;
}

.displayComment .table th {
  border: solid 1px black;
  width: 20%;
  padding: 5px;
  background-color: #e0e0e0;
  text-align: left;
  font-size: 14px;
}

.displayComment .table td {
  border: solid 1px black;
  padding: 5px;
  font-size: 16px !important;
  text-align: start !important;
}

.studentResultUpload {
  width: 100% !important;
  margin: 0 !important;
}

.studentResultUpload .form-control {
  width: 30% !important;
}

@media (max-width: 768px) {
  .profile_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 50px auto;
    border-bottom: 1px solid grey; */
  }
}

@media (max-width: 376px) {

  .profile_details_name h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

@media (max-width: 321px) {
  .profile_details_name h4 {
    font-size: 16px;
    font-weight: bold;

  }

  .profile_details h5 {
    font-size: 15px;
  }
}